#content {
    background-color: cornflowerblue;
    width: 15cm;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    border: 5px;
    border-color: black;
    border-radius: 10px;
    border-style: groove;
}

body {
    background-color: gray;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

label {
    font-size: 30px;
}

input[type=range]{
    width: 300px;
}

.calc_settings {
    font-size: 26px;
    border-radius: 5px;
    border-color: rgb(143, 30, 249);
}

.values {
    font-size: 30px;
    color: rgb(255, 255, 0);
}

#total {
    color: #ff0d0d
}
